﻿@{
    ViewData["Title"] = "AddAccountIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Pridėti banko sąskaitą</h1>

<div class="align-content-center">


    <form method="post" asp-controller=BankAccount asp-action="RegisterAccount">

        <h3>Pasirinkite sąskaitos tipą:</h3>
        <div>
            <input type="radio" id="currentAccount" name="accountType" value="currentAccount">
            <label for="currentAccount">Einamoji sąskaita</label><br>
            <input type="radio" id="savingsAccount" name="accountType" value="savingsAccount">
            <label for="savingsAccount">Taupymo sąskaita</label><br>
            <input type="radio" id="pensionAccount" name="accountType" value="pensionAccount">
            <label for="pensionAccount">Pensijos sąskaita</label><br>
        </div>
        <h3>Pasirinkite pensijos sąskaitos pakopą:</h3>
        <div>
            <input type="radio" id="first_pillar" name="pillarType" value="first_pillar" disabled> Pirma pakopa<br />
            <input type="radio" id="second_pillar" name="pillarType" value="second_pillar" disabled> Antra pakopa<br />
            <input type="radio" id="third_pillar" name="pillarType" value="third_pillar" disabled> Trečia pakopa

        </div>

        <h3>Banko sąskaitos sąlygos</h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Mėnesinis įkainis (€)</th>
                    <th scope="col">Pervedimo įkainis (€)</th>
                    <th scope="col">Palūkanos (%)</th>
                    <th scope="col">Overdraftas (€)</th>
                    <th scope="col">Automatiško pervedimo suma (€)</th>
                    <th scope="col">Automatiško pervedimo mėnesio diena</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="menIkainis"></td>
                    <td id="perIkainis"></td>
                    <td id="palukanos"></td>
                    <td id="overdraftas"></td>
                    <td id="perSuma"></td>
                    <td id="perDiena"></td>
                </tr>
            </tbody>
        </table>
        <h3>Pakopos sąlygos</h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Pakopos tipas</th>
                    <th scope="col">Pakopos palūkanos (%)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="pakopTipas"></td>
                    <td id="pakopProcentas"></td>

                </tr>
            </tbody>
        </table>



        <button type="submit" id="1" class="btn btn-secondary btn-lg btn-block" disabled>Pridėti kortelę</button>
    </form>
</div>

<script>
    document.getElementById("pensionAccount").onclick = function () {
        document.getElementById("menIkainis").innerHTML = ""
        document.getElementById("perIkainis").innerHTML = ""
        document.getElementById("palukanos").innerHTML = ""
        document.getElementById("overdraftas").innerHTML = ""
        document.getElementById("perSuma").innerHTML = ""
        document.getElementById("perDiena").innerHTML = ""
        document.getElementById("pakopTipas").innerHTML = ""
        document.getElementById("pakopProcentas").innerHTML = ""
        document.getElementById("1").disabled = false;

        document.getElementById("1").disabled = true;
        document.getElementById("first_pillar").disabled = false;
        document.getElementById("first_pillar").onclick = function () {

            document.getElementById("menIkainis").innerHTML = "Negalioja"
            document.getElementById("perIkainis").innerHTML = "Negalioja"
            document.getElementById("palukanos").innerHTML = "Žiūrėti pakopos sąlygas"
            document.getElementById("overdraftas").innerHTML = "Negalioja"
            document.getElementById("perSuma").innerHTML = "20"
            document.getElementById("perDiena").innerHTML = "5"
            document.getElementById("pakopTipas").innerHTML = "Pirma pakopa"
            document.getElementById("pakopProcentas").innerHTML = "1.5"
            document.getElementById("1").disabled = false;
        }


        document.getElementById("second_pillar").disabled = false;
        document.getElementById("second_pillar").onclick = function () {
            document.getElementById("menIkainis").innerHTML = "Negalioja"
            document.getElementById("perIkainis").innerHTML = "Negalioja"
            document.getElementById("palukanos").innerHTML = "Žiūrėti pakopos sąlygas"
            document.getElementById("overdraftas").innerHTML = "Negalioja"
            document.getElementById("perSuma").innerHTML = "30"
            document.getElementById("perDiena").innerHTML = "5"
            document.getElementById("pakopTipas").innerHTML = "Antra pakopa"
            document.getElementById("pakopProcentas").innerHTML = "3"
            document.getElementById("1").disabled = false;
        }
        document.getElementById("third_pillar").disabled = false;
        document.getElementById("third_pillar").onclick = function () {
            document.getElementById("menIkainis").innerHTML = "Negalioja"
            document.getElementById("perIkainis").innerHTML = "Negalioja"
            document.getElementById("palukanos").innerHTML = "Žiūrėti pakopos sąlygas"
            document.getElementById("overdraftas").innerHTML = "Negalioja"
            document.getElementById("perSuma").innerHTML = "50"
            document.getElementById("perDiena").innerHTML = "5"
            document.getElementById("pakopTipas").innerHTML = "Trečia pakopa"
            document.getElementById("pakopProcentas").innerHTML = "3.5"
            document.getElementById("1").disabled = false;
        }
    }

    document.getElementById("savingsAccount").onclick = function () {
        document.getElementById("first_pillar").checked = false;
        document.getElementById("second_pillar").checked = false;
        document.getElementById("third_pillar").checked = false;
        document.getElementById("first_pillar").disabled = true;
        document.getElementById("second_pillar").disabled = true;
        document.getElementById("third_pillar").disabled = true;
        document.getElementById("1").disabled = false;

        document.getElementById("menIkainis").innerHTML = "0.50"
        document.getElementById("perIkainis").innerHTML = "Negalioja"
        document.getElementById("palukanos").innerHTML = "0.04"
        document.getElementById("overdraftas").innerHTML = "Negalioja"
        document.getElementById("perSuma").innerHTML = "50"
        document.getElementById("perDiena").innerHTML = "5"
        document.getElementById("pakopTipas").innerHTML = ""
        document.getElementById("pakopProcentas").innerHTML = ""
    }

    document.getElementById("currentAccount").onclick = function () {
        document.getElementById("first_pillar").checked = false;
        document.getElementById("second_pillar").checked = false;
        document.getElementById("third_pillar").checked = false;
        document.getElementById("first_pillar").disabled = true;
        document.getElementById("second_pillar").disabled = true;
        document.getElementById("third_pillar").disabled = true;
        document.getElementById("1").disabled = false;


        document.getElementById("menIkainis").innerHTML = "2.70"
        document.getElementById("perIkainis").innerHTML = "0.30"
        document.getElementById("palukanos").innerHTML = "0.00"
        document.getElementById("overdraftas").innerHTML = "500"
        document.getElementById("perSuma").innerHTML = "Negalioja"
        document.getElementById("perDiena").innerHTML = "Negalioja"
        document.getElementById("pakopTipas").innerHTML = ""
        document.getElementById("pakopProcentas").innerHTML = ""


    }

</script>