﻿@model IEnumerable<BankSystem.Models.BankAccount>

<html>
<head>

</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <h1>Banko sąskaitos</h1>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Banko kortelės numeris</th>
                <th scope="col">Banko kortelės tipas</th>
                <th scope="col">Sąskaitos likutis</th>
                <th scope="col">Mėnesinis įkainis</th>
                <th scope="col">Statusas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Nr</td>
                <td>@String.Format("{0:c}", @item.Balance).ToString()</td>
                <td>@String.Format("{0:c}", @item.MonthlyTariff).ToString()</td>
                @switch (item.BankAccountStatus)
                {
                    case BankAccountStatus.active:
                        <td>Aktyvi</td>
                        break;
                    case BankAccountStatus.blocked:
                        <td>Užblokuota</td>
                        break;
                    case BankAccountStatus.closed:
                        <td>Uždaryta</td>
                        break;

                }
                @if (item.BankAccountStatus == BankAccountStatus.blocked)
                {
                    <td>
                        <form method="post" asp-controller="BankAccount" asp-route-Id="@item.ID" asp-action="Activate">
                            <button type="submit" class="btn btn-success">Aktyvuoti</button>
                        </form>
                    </td>
                }
            </tr>

            }

        </tbody>
    </table>
</body>
</html>

