﻿@model IEnumerable<BankSystem.Models.BankAccount>

<html>
<head>

</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <h1>Mano banko sąskaitos</h1>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Sąskaitos likutis</th>
                <th scope="col">Mėnesinis tarifas</th>
                <th scope="col">Statusas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nr</td>
                    <td>@item.Balance</td>
                    <td>@item.MonthlyTariff</td>
                    <td>@item.BankAccountStatus</td>
                </tr>
            }
        </tbody>
    </table>
    <form method="post" asp-controller="BankAccount" asp-action="AddAccountIndex">
        <button type="submit" class="btn btn-secondary btn-lg btn-block">Pridėti naują banko sąskaitą</button>
    </form>
</body>
</html>

