﻿@model BankSystem.ViewModel.BankAccountList

<html>
<head>

</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <h1>Mano banko sąskaitos</h1>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Banko sąskaitos numeris</th>
                <th scope="col">Banko sąskaitos tipas</th>
                <th scope="col">Sąskaitos likutis</th>
                <th scope="col">Mėnesinis įkainis</th>
                <th scope="col">Statusas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.allCurrentAccounts)
            {
                <tr>
                    <td>@item.Nr</td>
                    <td>Einamoji sąskaita</td>
                    <td>@String.Format("{0:c}", @item.Balance).ToString()</td>
                    <td>@String.Format("{0:c}", @item.MonthlyTariff).ToString()</td>
                    @if (item.BankAccountStatus == BankAccountStatus.active)
                    {
                        <td>Aktyvi</td>
                    }
                    else if (item.BankAccountStatus == BankAccountStatus.blocked)
                    {
                        <td>Užblokuota</td>
                    }
                    else
                    {
                        <td>Uždaryta</td>
                    }

                </tr>
            }
            @foreach (var item in Model.allPensionAccounts)
            {
        <tr>
            <td>@item.Nr</td>
            <td>Pensijos kaupimo sąskaita</td>
            <td>@String.Format("{0:c}", @item.Balance).ToString()</td>
            <td>@String.Format("{0:c}", @item.MonthlyTariff).ToString()</td>
            @if (item.BankAccountStatus == BankAccountStatus.active)
            {
                <td>Aktyvi</td>
            }
            else if (item.BankAccountStatus == BankAccountStatus.blocked)
            {
                <td>Užblokuota</td>
            }
            else
            {
                <td>Uždaryta</td>
            }

        </tr>
            }
            @foreach (var item in Model.allSavingsAccounts)
            {
        <tr>
            <td>@item.Nr</td>
            <td>Taupymo sąskaita</td>
            <td>@String.Format("{0:c}", @item.Balance).ToString()</td>
            <td>@String.Format("{0:c}", @item.MonthlyTariff).ToString()</td>
            @if (item.BankAccountStatus == BankAccountStatus.active)
            {
                <td>Aktyvi</td>
            }
            else if (item.BankAccountStatus == BankAccountStatus.blocked)
            {
                <td>Užblokuota</td>
            }
            else
            {
                <td>Uždaryta</td>
            }

        </tr>
            }
        </tbody>
    </table>
    <form method="post" asp-controller="BankAccount" asp-action="AddAccountIndex">
        <button type="submit" id="randomButton" class="btn btn-secondary btn-lg btn-block">Pridėti naują banko sąskaitą</button>
    </form>
</body>
</html>


