﻿@model IEnumerable<BankSystem.Models.BankAccount>
@{
    ViewData["Title"] = "AddCardView";
}

<h1>Pridėti kortelę</h1>

<div class="align-content-center">
    @{ if (Model.Count() == 0)
        {
            <h3>Nėra aktyvios banko sąskaitos</h3>
        }
        else
        {
            <h3>Pasirinkite banko sąskaitą:</h3>
            <form method="post" asp-controller=BankCards asp-action="SendAdditionRequest">
                @foreach (var item in Model)
                {
                    <input type="radio" name="bankAcc" value="@item.Nr" />
                    <label>@item.Nr</label>
                    <br />
                }


                <h3>Ar norima bekontaktės kortelės?</h3>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="contacless" value="True">
                    <label>Taip</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="contacless" value="False">
                    <label>Ne</label>
                </div>

                <h3>Pasirinkite kortelės tipą</h3>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="cardType" value="standard">
                    <label>Standartinė</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="cardType" value="silver">
                    <label>Sidabrinė</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="cardType" value="golden">
                    <label>Auksinė</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="cardType" value="platinum">
                    <label>Platininė</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="cardType" value="black">
                    <label>Juoda</label>
                </div>


                <button type="submit" class="btn btn-secondary btn-lg btn-block">Pridėti kortelę</button>
            </form>
        }
    }
</div>

