﻿@model IEnumerable<BankSystem.Models.BankCard>

<html>
<head>

</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <h1>Mano kortelės</h1>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Nr</th>
                <th scope="col">Statusas</th>
                <th scope="col">Kortelės tipas</th>
                <th scope="col">Balansas</th>
                <th scope="col">Skola</th>
                <th scope="col">Veiksmas</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model)
            {
            <tr>
                @{i += 1;}
                <th scope="row">@i</th>
                <td>@item.ID</td>
                <td>@item.Nr</td>
                <td>@(item.IsActive ? "Aktyvi" : "Neaktyvi")</td>

                @if (item.BankCardType.CardType == CardType.silver)
                {
                    <td>Sidabrinė</td>
                }
                @if (item.BankCardType.CardType == CardType.standard)
                {
                    <td>Standartinė</td>
                }
                @if (item.BankCardType.CardType == CardType.golden)
                {
                    <td>Auksinė</td>
                }
                @if (item.BankCardType.CardType == CardType.platinum)
                {
                    <td>Platininė</td>
                }
                @if (item.BankCardType.CardType == CardType.black)
                {
                    <td>Juoda</td>
                }
                <td>@item.BankAccount.Balance</td>
                <td>@(item.BankAccount.InDebt ? "Yra" : "Nėra")</td>
                <td>
                    <form method="post" asp-controller="BankCards" asp-route-Id="@item.ID" asp-action="Deactivate">
                        <button type="submit" id="@item.Nr" class="btn btn-danger">Deaktyvuoti</button>
                    </form>
                </td>
            </tr>
                @if (!item.IsActive)
                {
                    <script>

                        document.getElementById("@item.Nr").style.display = 'none';

                    </script>
                }

            }
        </tbody>
    </table>
    <form method="post" asp-controller="BankCards" asp-action="AddCard">
        <button type="submit" class="btn btn-secondary btn-lg btn-block">Pridėti naują kortelę</button>
    </form>
</body>
</html>

