﻿@{
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">Sveiki atvykę į nuostabiausią banko sistemą</h1>
    <p>Paruošta by Fizikai IFF-8/5</p>
    <img src="~/Assets/liux.png" height="483" width="1200" asp-append-version="true"/>
</div>
