﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BankSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BankSystem</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                <ul class="navbar-nav flex-grow-1">
                                    @{
                                        if (User.IsInRole("Client"))
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-controller="BankAccount" asp-action="Index">Peržiūrėti banko sąskaitas</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-controller="BankCards" asp-action="Index">Peržiūrėti Korteles</a>
                                            </li>
                                        }
                                        if (User.IsInRole("Admin"))
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Register">Priregistruoti naudotoją</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-controller="BankAccount" asp-action="Index">Peržiūrėti sąskaitas</a>
                                            </li>
                                        }
                                    }
                                    <li class="nav-item">
                                        <a class="nav-link text-dark text-right" asp-controller="Authentication" asp-action="LogoutAction">Atsijungti</a>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </nav>
            </header>
        }
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BankSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
